.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;

  
  /* выше установили ограничения для секции */
}
.logo {
  
  width: 228px;
  height: 32px;
  background-size: cover;
  margin: 30px 64px;
  
}

.header__img {
  position: absolute;
  padding-top: 30px;
  padding-left: 64px;
  z-index: 2;
}
.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  bottom: 0;
  right: 0;
  z-index: 3;
}
.header__title {
  display: flex;
  padding-left: 64px;
  position: absolute;
  align-self: center;
  font-size: 102px;
  color: black;
  font-weight: 600;
  height: 96px;
  width: 730px;
  z-index: 4;
}
.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 64px;
  bottom: 30px;
  width: 388px;
  z-index: 4;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
}
.description {
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  min-width: 784px;
  margin: 30px;
}
.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  margin: 0;
}
.two-columns__brief {
  font-size: 18px;
  font-weight: normal;
  line-height:1.2;
  color: #2f80ed;
  margin:30px 0;

}
.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  
}
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-subtitle {
  font-size: 24px;
  font-weight: normal;
  height: 34px;
  text-align: center;
  display: block;
  width: 60%;
  margin: 20px auto 0;
}
.table {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
}
.table__cell {
  margin: 0;
  margin-top: 60px;
  width: 250px;
}
.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  width: 250px;
  margin: 0;
}
.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 20px;
  margin-bottom: 0;
}
.feynman {
  background-color: #f2f2f2;
  position: relative;
  padding-top: 100px;
  min-height: 890px;
  margin: 0;
  box-sizing:border-box;
  z-index: 1;
}
.feynman__img{
  position: absolute;
  width: 867px;
  height: 637px;
  bottom: 0;
  left: 0;
}
.feynman__title{
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
  display: block;
  text-align: center;
  margin:0 auto;
  width: 648px;


}
.feynman__subtitle{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: relative;
  display: block;
  text-align: center;
  margin:0;
  margin-top: 70px;  
}
.feynman__link{
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  text-decoration: none;
  position: absolute;
  top: 50%;
  right: 48px;
}

.kaufman {
  position: relative;
  background: #1f1f1f;
  overflow: hidden;
  z-index: 0;
  color: white;
}
.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 auto;
  display: block;
  text-align: center;
  width: 60%;
  margin-top: 70px;
}
.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  top: 0;
  z-index: -1;
}
.section__title_theme_dark {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  position: relative;
  text-align: center;
  margin-top: 60px auto 0;
  color: white;
  z-index: 0;
}
.section__subtitle_theme_dark {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  position: relative;
  text-align: center;
  margin: 20px auto 0;
  color: white;
  z-index: 0;
}
.table__theme_dark {
  margin: 80px auto 90px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  list-style-type: none;
}
.table__text_theme_dark {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}
.table__heading_theme_dark {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.footer {
  min-height: 350px;
  background: #1f1f1f;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}
.footer__columns {
  margin: 60px auto 40px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 30px auto 40px;
}
.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
  margin: 0;
}
.footer__column_conten_info {
  padding: 0;
  margin-left: auto;
}
.logo__place_footer {
  position: relative;
  margin: 0;
}
.footer__author {
  margin: 18px 60px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-heading {
  background-size: cover;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.footer__column-links {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  margin: 20px 0 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__column-link {
  color: white;
  margin: 0;
}
